services:
  # =================================================================
  # RED TEAM (L'ATTAQUANT - KALI)
  # =================================================================
  kali.attacker:
    build: ../kali-custom
    container_name: kali_easy
    hostname: kali
    tty: true
    stdin_open: true
    privileged: true
    ports:
      - "2222:22"
    networks:
      net_public_easy:
        ipv4_address: 172.30.0.10

  # =================================================================
  # ZONE PUBLIQUE (VISIBLES DEPUIS KALI)
  # =================================================================
  target.ftp:
    build: ./target-ftp
    container_name: target_ftp_easy
    hostname: target-ftp
    environment:
      - WAZUH_MANAGER_IP=172.17.0.1
    networks:
      net_public_easy:
        ipv4_address: 172.30.0.20

  target.jenkins:
    build: ./target-jenkins
    container_name: target_jenkins_easy
    hostname: target-jenkins
    user: root
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - WAZUH_MANAGER_IP=172.17.0.1
    ports:
      - "8082:8080"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    networks:
      net_public_easy:
        ipv4_address: 172.30.0.30

  # LE PIVOT : Connecté aux deux réseaux pour permettre le tunnel SSH
  target.samba:
    build: ./target-samba
    container_name: target_samba_easy
    hostname: target-samba
    environment:
      - WAZUH_MANAGER_IP=172.17.0.1
    networks:
      net_public_easy:
        ipv4_address: 172.30.0.40
      net_private_easy:
        ipv4_address: 172.31.0.10

  # =================================================================
  # ZONE PRIVÉE (CACHÉE - ACCÈS VIA PIVOT SAMBA)
  # =================================================================
  target.apache:
    build: ./target-apache
    container_name: target_apache_easy
    hostname: target-apache
    environment:
      - WAZUH_MANAGER_IP=172.17.0.1
    networks:
      net_private_easy:
        ipv4_address: 172.31.0.30

# =================================================================
# DÉFINITION DES RÉSEAUX (SEGMENTATION)
# =================================================================
networks:
  net_public_easy:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24

  net_private_easy:
    driver: bridge
    ipam:
      config:
        - subnet: 172.31.0.0/24
